@media screen and (max-width: 600px) {
    details {
        font-size: 12px;
    }
    summary {
        font-size: 15px;
    }
    .directory-icon {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-nav.is-active {
        display: flex;
    }
    .home-block, .about-me-content {
        flex-direction: column;
    }
    .profile-bio {
        align-items: center;
    }
    .about-me-description {
        width: 80%;
        margin-left: 0;
    }
    .about-me-description-content {
        text-align: center;
    }
    .experience-info {
        flex-direction: column;
    }
    .experience-frontend, .experience-backend  {
        padding-top: 0;
    }
    .project-block {
        justify-content: center;
    }
    .project-grid {
        width: 100%;
    }
    .contact-info {
        border: none;
    }
}