/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 10px;
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

h2,h3,h4 {
    color: rgb(85,85,85);
}

h1 {
    font-weight: bold;
}

p {
    color: rgb(85,85,85);
}
img {
    width: 20vh;
    border-radius: 50px;
    margin-right: 10px;
}
